{% extends "base.html" %}
{% block content %}
<div class="welcome-container">
  <h1>Selamat Datang <br> di EV Charging Patterns Analysis</h1>
  <ul class="team-list">
    <li><strong>Kelompok 4:</strong></li>
    <li>Michael</li>
    <li>Alan</li>
    <li>Daniel</li>
    <li>Yudhis</li>
    <li>Owen</li>
  </ul>
  <p>Gunakan menu di atas untuk menjelajahi analisis.</p>
  <a class="dataset-link" href="https://www.kaggle.com/datasets/valakhorasani/electric-vehicle-charging-patterns/data" target="_blank">
    Dataset EV Charging Patterns
  </a>
</div>
{% endblock %}
