{% extends "base.html" %}
{% block content %}
<div class="welcome-container">
  <h1>Selamat Datang <br> di EV Charging Patterns Analysis</h1>
  <ul class="team-list">
    <h3 style="font-weight: bold;">Kelompok 4 :</h3>
    <li>Michael Nathaniel Tanoto</li>
    <li>Alan Jonathan Raharjo</li>
    <li>Daniel Kristanto Goenadi Go</li>
    <li>Yudhistira</li>
    <li>Nicholas Owen Santoso</li>
  </ul>
  <p>Gunakan menu di atas untuk menjelajahi analisis.</p>
  <a class="dataset-link" href="https://www.kaggle.com/datasets/valakhorasani/electric-vehicle-charging-patterns/data" target="_blank">
    Dataset EV Charging Patterns
  </a>
</div>
{% endblock %}
