{% extends "base.html" %} {% block content %}
<h1>Ranking dan Analisis</h1>

<div id="analysisCarousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <!-- Slide 1: Statistik Deskriptif -->
    <div class="carousel-item active">
      <div class="text-center" style="display: flex; align-items: center; flex-direction: column; min-height: 400px; vertical-align: middle;">
        <h3>Statistik Deskriptif</h3>
        <table class="table table-bordered table-hover" style="max-width: 70%; margin: 0 auto;">
          <thead>
            <tr>
              <th style="text-align: center; background-color: #f2f2f2;">Statistik</th>
              {% for col in stats.columns %}
              <th style="text-align: center; background-color: #f2f2f2;">{{ col }}</th>
              {% endfor %}
            </tr>
          </thead>
          <tbody>
            {% for index, row in stats.iterrows() %}
            <tr>
              <td style="text-align: center; ">{{ index }}</td>
              {% for cell in row %}
              <td style="text-align: center;">{{ cell }}</td>
              {% endfor %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    
    <!-- Slide 2: Statistik Deskriptif -->
    <div class="carousel-item">
      <div class="text-center" style="display: flex; align-items: center; flex-direction: column; min-height: 400px;">
        <h3>Ranking berdasarkan kategori</h3>
        <div style="max-width: 80%; overflow-x: auto; margin: 0 auto;">
          <table id="table_sendiri" class="table table-bordered table-hover">
            <thead>
              <tr>
                <th>Vehicle Model</th>
                <th>Efficiency Ranking</th>
                <th>Range Ranking</th>
                <th>Cost Ranking</th>
                <th>Speed Ranking</th>
                <th>Capacity Ranking</th>
                <th>Overall Ranking</th>
              </tr>
            </thead>
            <tbody>
              {% for row in rankings %}
              <tr>
                <td>{{ row['Vehicle Model'] }}</td>
                <td>{{ row['Efficiency Ranking'] }}</td>
                <td>{{ row['Range Ranking'] }}</td>
                <td>{{ row['Cost Ranking'] }}</td>
                <td>{{ row['Speed Ranking'] }}</td>
                <td>{{ row['Capacity Ranking'] }}</td>
                <td>{{ row['Overall Ranking'] }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    
    <!-- Slide 3: Statistik Deskriptif -->
    <div class="carousel-item">
      <div class="text-center">
        <h3>Ranking berdasarkan kategori</h3>
        <img
        src="{{ img_pathVisual }}"
        alt="LDA"
        class="img-fluid mx-auto d-block"
        style="max-height: 400px"
      />
      </div>
    </div>
    <!-- Slide 4: Ranking dengan PCA -->
    <div class="carousel-item">
      <div>
        <h3>Ranking Efisiensi dengan PCA</h3>
        <p>Silhouette Score:</p>
        <table>
          <thead>
            <tr>
              <th>Rank</th>
              <th>Car Name</th>
              <th>Score</th>
            </tr>
          </thead>
          <tbody>
            {% for item in leaderboardPCA %}
            <tr>
              <td>{{ item.rank }}</td>
              <td>{{ item.model }}</td>
              <td>{{ item.score }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>        
        <img
          src="{{ img_pathPCA }}"
          alt="PCA"
          class="img-fluid mx-auto d-block"
          style="max-height: 400px"
        />
      </div>
    </div>
    <!-- Slide 5: Ranking dengan LDA -->
    <div class="carousel-item">
      <div class="text-center">
        <h3>Ranking Efisiensi dengan LDA</h3>
        <p>Silhouette Score:</p>
        <table>
          <thead>
            <tr>
              <th>Rank</th>
              <th>Car Name</th>
              <th>Score</th>
            </tr>
          </thead>
          <tbody>
            {% for item in leaderboardLDA %}
            <tr>
              <td>{{ item.rank }}</td>
              <td>{{ item.model }}</td>
              <td>{{ item.score }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        
        <img
          src="{{ img_pathLDA }}"
          alt="LDA"
          class="img-fluid mx-auto d-block"
          style="max-height: 400px"
        />
      </div>
    </div>
  </div>
  <!-- Carousel Controls -->
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#analysisCarousel"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#analysisCarousel"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

{% endblock %}